@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #0000ff;
  --primary: #39a0ed;
  --secondary: #36f1cd;
  --primary-dim: #4c6085;
  --secondary-dim: #13c4a3;
  --tertiary: #32322c;
}

body {
  color: var(--foreground);
  background: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--brand);
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
